/* General Styles */
body {
  font-family: var(--primary-font-family);
  margin: 0;
  padding: 0;
  background-color: var(--base);
  color: var(--slate);
}

.about__wrap__hero {
  margin: 4rem;
  align-items: center;
  justify-content: center;
}

.about__hero__image {
  display: none;
}

.about__wrap__intro {
  margin: 4rem;
}

.about__wrap__experience {
  margin-top: 2rem;
}

.about__wrap__experience > h2 {
  font-family: var(--secondary-font-family);
  color: var(--white);
}

.about__wrap__experience > ul li {
  color: var(--white);
  list-style-type: none;
  padding: 0.2rem;
}

.about__wrap__clients {
  margin-top: 2rem;
}

.about__wrap__clients > h2 {
  font-family: var(--secondary-font-family);
  color: var(--white);
}

.about__wrap__clients > ul li {
  color: var(--white);
  list-style-type: none;
  padding: 0.2rem;
}
.about__gallery {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.about__gallery__images {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.about__gallery__images > img {
  height: 50%;
  width: 40%;
}

.about__wrap__quote {
  margin: 2rem;
}

.quote__image > img {
  height: 50%;
  width: 40%;
}

@media only screen and (min-width: 950px) {
  .about__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0rem;
  }

  .about__wrap__hero {
    display: flex;
    margin-bottom: 14rem;
  }

  .about__hero__image {
    display: block;
    position: absolute;
    left: 30%;
    z-index: 100;
  }

  .about__hero__image > img {
    width: 400px;
    height: 500px;
  }

  .about__hero__text {
    width: 40%;
    color: white;
    font-family: var(--secondary-font-family);
    letter-spacing: 0.03rem;
    position: relative;
    z-index: 101;
    left: 300px;
    top: 130px;
  }

  .about__wrap__intro {
    width: 80%;
    margin-top: 21rem;
  }

  .intro {
    display: flex;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    position: relative;
  }

  .intro__left {
    width: 2px; /* Line width */
    height: 9rem; /* Line height */
    background-color: var(--white); /* Color of the line */
    position: absolute;
    top: 72%; /* Center vertically */
    left: 55%; /* Center horizontally */
    transform: translate(
      -50%,
      -50%
    ); /* Adjust to make sure it's perfectly centered */
  }

  .intro__right {
    color: var(--white);
    left: 54%;
    position: absolute;
    max-width: 50%; /* Limit text width */
    margin-left: 2rem; /* Space between the line and the text */
    padding-left: 1rem;
  }

  .about__wrap__experience {
    margin-top: 6rem;
    transform: translateX(-10rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .about__wrap__experience h2 {
    font-size: 2rem;
    margin-right: 5rem;
    letter-spacing: 0.01rem;
  }

  .about__wrap__experience > ul {
    margin-top: 5rem;
  }

  .about__wrap__experience > ul li {
    padding: 0.2rem 0.1rem;
    font-family: var(--secondary-font-family);
  }

  .about__gallery {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center the images horizontally */
    align-items: center; /* Center the images vertically */
    margin-top: 8rem; /* Optional: Adjust to add space above */
  }

  .about__gallery__images {
    display: flex;
    flex-direction: row;
    width: 60%;
    display: flex;
    gap: 4rem; /* Create 4rem of space between the two images */
  }

  .about__gallery__images img {
    width: 60%;
    height: auto;
  }

  .about__wrap__clients {
    margin-top: 3rem;
    transform: translateX(13rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .about__wrap__clients h2 {
    font-size: 2rem;
    margin-right: 5rem;
    letter-spacing: 0.01rem;
  }

  .about__wrap__clients > ul {
    margin-top: 5rem;
  }

  .about__wrap__clients > ul li {
    padding: 0.2rem 0.1rem;
    font-family: var(--secondary-font-family);
  }

  .about__wrap__quote {
    margin-top: 8rem;
    transform: translateX(22rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .about__wrap__quote img {
    width: 60%;
    height: auto;
  }
}
