@charset "utf-8";

/*
  Comp 2681 - Web Site Design and Development 
  (Winter 2024 Sharma)

  Style Sheet for My Frederic's Website
  Author: Yanek Keshavjee
  Date: September 29, 2024

  Filename: about.css

*/

body {
  font-family: var(--primary-font-family);
  margin: 0;
  padding: 0;
  background-color: var(--base);
  color: var(--slate);
}

.about__wrap__hero {
  margin: 4rem;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: var(--primary-font-family);
}

.about__hero__image {
  display: none;
}

.about__wrap__intro {
  margin: 4rem;
  color: white;
  line-height: 1.7rem;
  letter-spacing: 0.13rem;
}

.about__wrap__intro .intro__right {
  box-shadow: 0 8px 15px rgba(106, 105, 105, 0.3);
  padding: 1rem;
}

.about__wrap__experience {
  margin-top: 3rem;
}

.about__wrap__experience > h2 {
  font-family: var(--secondary-font-family);
  color: var(--white);
  text-shadow: 2px 2px 4px hsl(240, 100%, 50%);
}

.about__wrap__experience > ul li {
  font-size: 1rem;
  color: var(--white);
  list-style-type: none;
  padding: 0.2rem;
}

.about__wrap__clients {
  margin: 4rem;
}

.about__wrap__clients > h2 {
  text-shadow: 2px 2px 4px hsl(240, 100%, 50%);
  font-family: var(--secondary-font-family);
  color: var(--white);
}

.about__wrap__clients > ul li {
  color: var(--white);
  list-style-type: none;
  padding: 0.2rem;
}
.about__gallery {
  display: none;
}

.about__gallery__images {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  opacity: 0.7;
}

.about__gallery__images > img {
  height: 50%;
  width: 50%;
  margin-right: 2rem;
}

.about__wrap__quote {
  display: flex;
  flex-direction: row;
  margin: 4rem;
}

.quote > p {
  font-size: 2rem;
}

.quote__image > img {
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 950px) {
  .about__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0rem;
  }

  .about__wrap__hero {
    display: flex;
    margin-bottom: 14rem;
  }

  .about__hero__image {
    display: block;
    position: absolute;
    left: 20%;
    z-index: 100;
  }

  .about__hero__image > img {
    width: 400px;
    height: 500px;
  }

  .about__hero__text {
    width: 40%;

    letter-spacing: 0.03rem;
    position: relative;
    z-index: 101;
    left: 400px;
    top: 130px;
  }

  .about__wrap__intro {
    width: 100%;
    margin-top: 40rem;
  }

  .about__wrap__intro .intro__right {
    padding: 3rem;
  }

  .about__wrap__intro:last-child {
    width: 80%;
    margin-top: 13rem;
  }
  #second__intro {
    margin-top: -30rem;
  }

  #second__intro__line {
    margin-top: -15rem;
  }

  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .intro__left {
    width: 2px;
    height: 22rem;
    background-color: var(--white);
    position: absolute;
    top: 72%;
    left: 10%;
    transform: translate(-50%, -70%);
  }

  .intro__right {
    left: 14%;
    position: absolute;
    max-width: 70%;
    margin-left: 2rem;
    padding-left: 1rem;
    margin-bottom: 10rem;
  }

  .intro__right > ol {
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .about__wrap__experience {
    margin-top: 10rem;
    transform: translateX(-10rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .about__wrap__experience h2 {
    font-size: 2rem;
    margin-right: 5rem;
    letter-spacing: 0.01rem;
  }

  .about__wrap__experience > ul {
    margin-top: 5rem;
  }

  .about__wrap__experience > ul li {
    font-size: 1.2rem;
    padding: 0.2rem 0.1rem;
    font-family: var(--secondary-font-family);
  }

  .about__gallery {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
  }

  .about__gallery__images {
    display: flex;
    flex-direction: row;
    width: 60%;
    display: flex;
    gap: 4rem;
  }

  .about__gallery__images img {
    width: 60%;
    height: auto;
  }

  .about__wrap__clients {
    margin-top: 3rem;
    transform: translateX(4rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .about__wrap__clients h2 {
    font-size: 2rem;
    margin-right: 5rem;
    letter-spacing: 0.01rem;
  }

  .about__wrap__clients > ul {
    margin-top: 5rem;
  }

  .about__wrap__clients > ul li {
    font-size: 1.2rem;
    padding: 0.2rem 0.1rem;
    font-family: var(--secondary-font-family);
  }

  .about__wrap__quote {
    margin-top: 4rem;
    margin-bottom: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .about__wrap__quote img {
    width: 60%;
    height: auto;
  }

  @media only screen and (min-width: 1400px) {
    .about__hero__image {
      display: block;
      position: absolute;
      left: 30%;
      z-index: 100;
    }
    .about__hero__text {
      left: 500px;
      top: 130px;
    }

    .about__wrap__intro {
      width: 80%;
      margin-top: 35rem;
      margin-left: 10rem;
    }
  }
}
